.navbar {
	height: 80px;
	background-color: grey;
	margin-bottom: 20px;
}

.hero {
	height: 400px;
	background-color: grey;
	margin-bottom: 20px;
}

#container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.item {
	height: 300px;
	width: 350px;
	background-color: grey;
}

.footer {
	height: 50px;
	background-color: grey;
}